<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
 <persistence-unit name="app-unit" transaction-type="RESOURCE_LOCAL">
		 <provider>org.hibernate.ejb.HibernatePersistence</provider>		
		<properties>   
         <property name="hibernate.show_sql" value="false"/>
         <property name="hibernate.hbm2ddl.auto" value="update"/>
		</properties>	
	</persistence-unit>
</persistence>